.vid_{
    margin-top: 50px;
}

body{
    background: linear-gradient(to right, yellow, red),
    url("./IMAGE/fire_.jpg");
    background-blend-mode: overlay;
    background-position: bottom center;
    background-size: cover;
}

.page{
    margin-top: 140px;
}