body{
    background: linear-gradient(to right, yellow, red),
    url("./IMAGE/fire_.jpg");
    background-blend-mode: overlay;
    background-position: bottom center;
    background-size: cover;
}

.img_pinkin{
    margin-top: 200px;
}

img{
border-radius: 50px;
border: solid 5px;
}

.page{
    margin-top: 200px;
}